.ship-model > div {
    padding: 0;
    margin: 8px;
    position: relative;
    display: inline-block;
    vertical-align: top;
}

#player-ship, #player-ship > div {
    width: 1370px;
}

.ship-model > div.interceptor {
    width: 319px;
    height: 212px;
}

.ship-model > div.cruiser {
    width: 319px;
    height: 294px;
}

.ship-model > div.dreadnought {
    width: 322px;
    height: 322px;
}

.ship-model > div.starbase {
    width: 322px;
    height: 322px;
}

.ship-model > div > p {
    position: absolute;
    top: -18px;
}

.ship-model img {
    margin: 2px;
}

.one, .two, .three, .four, .five, .six, .seven, .eight {
    position: absolute;
    width: 104px;
    height: 104px;
    border: 1px solid #B3B3B3;
    padding: 0;
    margin: 0;
}

.init {
    width: 28px;
    position: absolute;
}

.energy {
    width: 50px;
    height: 50px;
    position: absolute;
}

/** TERRAN INTERCEPTOR */

div.terran.interceptor.one {
    top: 82px;
    left: 0px;
}

div.terran.interceptor.two {
    top: 0;
    left: 107px;
}

div.terran.interceptor.three {
    top: 107px;
    left: 107px;
}

div.terran.interceptor.four {
    top: 82px;
    left: 214px;
}

div.terran.interceptor.init {
    height: 35px;
    top: 0px;
    left: 220px;
}

/** TERRAN CRUISER */

div.terran.cruiser.one {
    top: 82px;
    left: 0px;
}

div.terran.cruiser.two {
    top: 189px;
    left: 0px;
}

div.terran.cruiser.three {
    top: 0px;
    left: 107px;
}

div.terran.cruiser.four {
    top: 107px;
    left: 107px;
}

div.terran.cruiser.five {
    top: 82px;
    left: 214px;
}

div.terran.cruiser.six {
    top: 189px;
    left: 214px;
}

div.terran.cruiser.init {
    height: 35px;
    top: 13px;
    left: 220px;
}

/** TERRAN DREADNOUGHT */

div.terran.dreadnought.one {
    top: 0px;
    left: 0px;
}

div.terran.dreadnought.two {
    top: 107px;
    left: 0px;
}

div.terran.dreadnought.three {
    top: 214px;
    left: 0px;
}

div.terran.dreadnought.four {
    top: 82px;
    left: 107px;
}

div.terran.dreadnought.five {
    top: 189px;
    left: 107px;
}

div.terran.dreadnought.six {
    top: 0px;
    left: 214px;
}

div.terran.dreadnought.seven {
    top: 107px;
    left: 214px;
}

div.terran.dreadnought.eight {
    top: 214px;
    left: 214px;
}

/** TERRAN STARBASE */

div.terran.starbase.one {
    top: 107px;
    left: 0px;
}

div.terran.starbase.two {
    top: 0px;
    left: 107px;
}

div.terran.starbase.three {
    top: 107px;
    left: 107px;
}

div.terran.starbase.four {
    top: 214px;
    left: 107px;
}

div.terran.starbase.five {
    top: 107px;
    left: 214px;
}

div.terran.starbase.init {
    height: 63px;
    top: -3px;
    left: 220px;
}

div.terran.starbase.energy {
    top: 180px;
    left: 45px;
}

/** ERIDANI INTERCEPTOR */

div.eridani.interceptor.one {
    top: 82px;
    left: 0px;
}

div.eridani.interceptor.two {
    top: 0;
    left: 107px;
}

div.eridani.interceptor.three {
    top: 107px;
    left: 107px;
}

div.eridani.interceptor.four {
    top: 82px;
    left: 214px;
}

div.eridani.interceptor.init {
    height: 35px;
    top: 0px;
    left: 220px;
}

/** ERIDANI CRUISER */

div.eridani.cruiser.one {
    top: 82px;
    left: 0px;
}

div.eridani.cruiser.two {
    top: 189px;
    left: 0px;
}

div.eridani.cruiser.three {
    top: 0px;
    left: 107px;
}

div.eridani.cruiser.four {
    top: 107px;
    left: 107px;
}

div.eridani.cruiser.five {
    top: 82px;
    left: 214px;
}

div.eridani.cruiser.six {
    top: 189px;
    left: 214px;
}

div.eridani.cruiser.init {
    height: 35px;
    top: 13px;
    left: 220px;
}

/** ERIDANI DREADNOUGHT */

div.eridani.dreadnought.one {
    top: 0px;
    left: 0px;
}

div.eridani.dreadnought.two {
    top: 107px;
    left: 0px;
}

div.eridani.dreadnought.three {
    top: 214px;
    left: 0px;
}

div.eridani.dreadnought.four {
    top: 62px;
    left: 107px;
}

div.eridani.dreadnought.five {
    top: 169px;
    left: 107px;
}

div.eridani.dreadnought.six {
    top: 0px;
    left: 214px;
}

div.eridani.dreadnought.seven {
    top: 107px;
    left: 214px;
}

div.eridani.dreadnought.eight {
    top: 214px;
    left: 214px;
}

div.eridani.dreadnought.energy {
    top: 233px;
    left: 137px;
}

/** ERIDANI STARBASE */

div.eridani.starbase.one {
    top: 107px;
    left: 0px;
}

div.eridani.starbase.two {
    top: 0px;
    left: 107px;
}

div.eridani.starbase.three {
    top: 107px;
    left: 107px;
}

div.eridani.starbase.four {
    top: 214px;
    left: 107px;
}

div.eridani.starbase.five {
    top: 107px;
    left: 214px;
}

div.eridani.starbase.init {
    height: 63px;
    top: -3px;
    left: 220px;
}

div.eridani.starbase.energy {
    top: 180px;
    left: 45px;
}
