.ship-model > div {
	padding: 0;
	margin: 8px;
	position: relative;
	display: inline-block;
}

.ship-model > div.interceptor {
    width: 319px;
    height: 212px;
    vertical-align: top;
}

.ship-model > div.cruiser {
    width: 319px;
    height: 294px;
}

.ship-model > div > p {
    position: absolute;
    top: -18px;
}

.ship-model img {
    margin: 2px;
}

.one, .two, .three, .four, .five, .six, .seven, .eight {
    position: absolute;
    width: 104px;
    height: 104px;
    border: 1px solid #B3B3B3;
    padding: 0;
    margin: 0;
}

.init {
    width: 28px;
    position: absolute;
}

div.terran.interceptor.one {
    top: 82px;
    left: 0px;
}

div.terran.interceptor.two {
    top: 0;
    left: 107px;
}

div.terran.interceptor.three {
    top: 107px;
    left: 107px;
}

div.terran.interceptor.four {
    top: 82px;
    left: 214px;
}

div.terran.interceptor.init {
    height: 35px;
    top: 0px;
    left: 220px;
}

div.terran.cruiser.one {
    top: 82px;
    left: 0px;
}

div.terran.cruiser.two {
    top: 189px;
    left: 0px;
}

div.terran.cruiser.three {
    top: 0px;
    left: 107px;
}

div.terran.cruiser.four {
    top: 107px;
    left: 107px;
}

div.terran.cruiser.five {
    top: 82px;
    left: 214px;
}

div.terran.cruiser.six {
    top: 189px;
    left: 214px;
}

div.terran.cruiser.init {
    height: 35px;
    top: 13px;
    left: 220px;
}
