body {
	font-variant: small-caps;
	letter-spacing: 1.5px;
}

#otsikko {
	display: block;
	margin: auto;
	text-align: center;
}

div {
	width: 740px;
	margin: 40px auto 0;
}

div.tech {
	margin-top: 0;
}

p {
	margin: 0;
}

.title {
    display: none;
    margin: 20px auto -20px;
    width: 1250px;
}

#upgrades span {
	float: right;
	cursor: pointer;
}

#upgrades {
	min-height: 1px;
}

.tech > img:hover {
    opacity: 0.5!important;
    cursor: pointer;
}

#player-input, #enemy-input {
    width:: 740px;
    display: none;
    margin: -180px auto 20px;
    text-align: center;
}

#player-input > div, #enemy-input > div {
    width: 170px;
    display: inline-block;
    text-align: center;
}

input {
    width: 90px;
    background: #FCFAE1;
    border: 1px solid #DBDBDB;
}
