div(class= ship.race + ' interceptor')
  p.interceptor
  - var classes = ['one', 'two', 'three', 'four', 'init', 'energy', 'computer']
  - for (var i=0; i<7; i++)
    - var key = Object.keys(ship)[i+1]
    if ship[key]!='missing'
      div(class= ship.race + ' interceptor ' + classes[i])
        if ship[key]
          img(src=ship[key])
